#menu-header {
    height: 8vh;
    background-color: rgb(27, 27, 27);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}